@page
@using myArchery.Services
@model myArchery.Pages.AllEvents.IndexModel
@{
    ViewData["Title"] = "All Events";
    Layout = "_Layout";
}
<partial name="_HeaderPartial">


<link href="~/assets/js/AllEvents.css" rel="stylesheet">



<div>
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
  <defs>
    <filter id="goo">
      <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
      <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
      <feComposite in="SourceGraphic" in2="goo"/>
    </filter>
  </defs>
</svg>

<span class="button--bubble__container">
  <a href="#campaign" class="button button--bubble">
    Hover me
  </a>
  <span class="button--bubble__effect-container">
    <span class="circle top-left"></span>
    <span class="circle top-left"></span>
    <span class="circle top-left"></span>

    <span class="button effect-button"></span>

    <span class="circle bottom-right"></span>
    <span class="circle bottom-right"></span>
    <span class="circle bottom-right"></span>
  </span>
</span>
</div><div>
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
  <defs>
    <filter id="goo">
      <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
      <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
      <feComposite in="SourceGraphic" in2="goo"/>
    </filter>
  </defs>
</svg>

</div>



<h1>All Events</h1>



<table class="table">
    <thead>
        <tr>
            <th>                
                @Html.DisplayNameFor(model => model.Event[0].Eventname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].Startdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].Enddate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].Isprivat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].Par)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Event) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Eventname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Startdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enddate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isprivat)
                @{}
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Par.Parcourname)
            </td>
        </tr>
}
    </tbody>
</table>﻿