@page
@using myArchery.Services
@model myArchery.Pages.AllEvents.IndexModel
@{
    ViewData["Title"] = "All Events";
    Layout = "_Layout";
}

<h1 style="margin-top:80px">All Events</h1>

<partial name="_HeaderPartial">

<table class="table">
    <thead>
        <tr>
            <th>                
                @Html.DisplayNameFor(model => model.Event[0].Eventname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].Startdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].Enddate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].Isprivat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].Par)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Event) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Eventname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Startdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enddate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isprivat)
                @{}
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Par.Parcourname)
            </td>
        </tr>
}
    </tbody>
</table>﻿