@page

@inject UserManager<AspNetUser> UserManager

@using myArchery.Services
@model myArchery.Pages.Pages_Charts



@{
    Layout = "_Layout";
    if (User.Identity == null)
    {
        RedirectToPage("/Account/Login");
    }

    var usern = User.Identity.Name;


    var events = EventService.GetUsersCurrentEventsByUsername(usern);

    if (events.Count == 0)
    {
        events = new List<Services.TmpClasses.EventWithId>{new Services.TmpClasses.EventWithId()};
        RedirectToPage("Index");
    }

    var users = EventService.GetUsersWithPointsFromEventById(1);


    var repheight = 400 / 5 * users.Count() + "px";

    double maxPoints = 50;

    var tmp = ArrowService.GetArrowInfo(events[0].Id);
    var tmp2 = tmp;

    var allNames = tmp2.Select(x => x.Username).ToArray();
    var allPoints = tmp2.Select(x => x.Points);

    tmp = tmp.Where(x => x.Username == User.Identity.Name).ToList();


    var overallPoints = users.Select(x => x.Points);


    var points = tmp.Select(x => x.Points);

    var points2 = tmp.Select(x => x.Points).ToArray();



    var targetName = tmp.Select(x => x.TargetName).ToArray();

    var username = tmp.Select(x => x.Username);



    var hitted = 0;
    var missed = 0;


    foreach (var item in points) {

        if (item > 0.0){
            hitted++;
        }
        else{
            missed++;
        }
    }
    string listofAllNames = " ";

    string punkte = " ";

    string name = " ";

    for (var i = 0; i < points2.Count(); i++)
    {
        if (i+1 == points2.Count())
        {
            punkte += $"'{points2[i]}'";
        }
        else
        {
            punkte += $"'{points2[i]}',";
        }
    }

   for (var i = 0; i < targetName.Count(); i++)
    {
        if (i+1 == targetName.Count())
        {
            name += $"'{targetName[i]}'";
        }
        else
        {
            name += $"'{targetName[i]}',";
        }
    }

    for (var i = 0; i < allNames.Count(); i++)
    {
        if (i+1 == allNames.Count())
        {
            listofAllNames += $"'{allNames[i]}'";
        }
        else
        {
            listofAllNames += $"'{allNames[i]}',";
        }
    }

    



}

<script>
    //let eventid = @events[0].Id;
    let eventid = 1;
    let username = "@User.Identity.Name";
</script>

	



<!DOCTYPE html>
<html lang="en">



<head>
<meta charset="uft-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">



<title>Event - Erstes Event</title>
<meta content="" name="description">
<meta content="" name="keywords">



<!-- Favicons -->
<link href="assets/img/logo/logo_archery.png" rel="icon">



<!-- Google Fonts -->
<link
href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Krub:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
rel="stylesheet">



<!-- Vendor CSS Files -->
<link href="assets/vendor/aos/aos.css" rel="stylesheet">
<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="assets/vendor/boxicons/css/boxicons.min.css " rel="stylesheet">
<link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
<link href="assets/css/archery-event.css" rel="stylesheet">



<!-- Template Main CSS File -->
<link href="assets/css/style.css" rel="stylesheet">
<link href="assets/css/archery-event.css" rel="stylesheet">



<!-- Navbar Login Form Input -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="assets/js/archery.js"></script>



<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="~/assets/css/CurrentEvent.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

</head>



<body>



<!-- ========= Header =========== -->
<header id="header" class="fixed-top">
<div class="container d-flex align-items-center justify-content-between">
<h1 class="logo">ARCHERY<a href="Index" class="logo"><img
src="assets/img/logo/firmen_logo.jfif" alt="" class="img-fluid"></a></h1>
<nav id="navbar" class="navbar navbar-expand-lg ">
<ul>
<!-- <li><a class="nav-link scrollto active" href="#">Home</a></li>
<li><a class="nav-link scrollto" href="#">About</a></li>
<li><a class="nav-link scrollto" href="#">All Events</a></li>
<li><a class="nav-link scrollto" href="../html/archery-eventCreate.html">Create Events</a></li>
<li><a class="nav-link srollto" href="../html/archery-event.html">Current Event</a></li>
<li><a class="nav-link scrollto" href="../html/liveranking.html">Live Ranking</a></li> -->
<partial name="_HeaderPartial">
<div class="navbar-nav" style="padding-left: 1rem;">
<a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle ">Login</a>
<div class="dropdown-menu login-form">
<form action="LoginServer.php" method="post">
<div class="form-group">
<label>Username</label>
<input type="text" name="username" class="form-control" required="required">
</div>
<div class="form-group">
<div class="clearfix">
<label>Password</label>
<a href="../src/assets/php/ResetPasswordPage.php"
class="float-right text-muted"><small>Forgot?</small></a>
</div>
<input type="password" name="password" class="form-control" required="required">
</div>
<input type="submit" class="btn btn-primary btn-block" value="Login">
<a href="login.html" class="btn btn-primary btn-block">Register</a>
</form>
</div>
</div>
<img src="assets/img/icons/login_icon.png"
style="max-width: 20px; max-height: 20px; margin-left: 5px; margin-bottom: 1px;">
</ul>
</nav>
</div>
</header>



<section id="current-event">

<h1>Event Name</h1>
<h1>@usern</h1>



<!-- <div class="form-box">
<div class="button-box">
<div id="btn"></div>
<button class="toogle-btn" onclick="event()">Login</button>
<button class="toogle-btn" onclick="ranking()">Register</button>
</div>
-->

</section>

<div class="container">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-2">Message</div>
            <div class="col-4"><input type="text" id="messageInput" /></div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6">
                <input type="button" id="sendButton" value="Send Message" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
<script src="~/assets/js/signalr/dist/browser/signalr.js"></script>
<script src="~/assets/js/chat.js"></script>

      
    <h1>Charts, Charts, Charts</h1>

    <script>



function clickHandler1() {

window.alert('Button wurde geklickt! 11111');


   
  myChart1(@hitted, @missed);
  
}


function clickHandler2() {

window.alert('Button wurde geklickt! 222222');


   
  
  myChart2();
}

function clickHandler3() {

window.alert('Button wurde geklickt! 333333');


   
  
  myChart3();
}

function clickHandler4() {

window.alert('Button wurde geklickt! 444444');


   
  
  myChart4();
}


function dokumentGeladen(event) {
  window.alert('Dokument wurde geladen! Zugriff auf das komplette DOM möglich.');
  document.getElementById('1').addEventListener('click', clickHandler1, false);
  document.getElementById('2').addEventListener('click', clickHandler2, false);
  document.getElementById('3').addEventListener('click', clickHandler3, false);
  document.getElementById('4').addEventListener('click', clickHandler4, false);
}



document.addEventListener('DOMContentLoaded', dokumentGeladen, false);


  

</script>


<button id="1">
 1
</button>
<button id="2">
 2
</button>
<button id="3">
 3
</button>
<button id="4">
 4
</button>


        <div class="container">
        <div class="row">
            <div class="col-6 chart">
                <canvas id="myChart" width="500" height="400"></canvas>
                 

            </div>
            <div class="col-6 chart">
                <canvas id="myChart2" width="500" height="400" onload=" myChart2(@points2, @targetName)"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col-6 chart">
                <canvas id="myChart3" width="500" height="400"></canvas>
            </div>
            <div class="col-6 chart">
                <canvas id="myChart4" width="500" height="400"></canvas>
            </div>
        </div>
    </div>
    <script src="script.js"></script>





    
</div>


            <div class="col-6 chart">
                <canvas id="myChart" width="500" height="400"></canvas>
                
            </div>
            <div class="col-6 chart">
                <canvas id="myChart2" width="500" height="400"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col-6 chart">
                <canvas id="myChart3" width="500" height="400"></canvas>
            </div>
            <div class="col-6 chart">
                <canvas id="myChart4" width="500" height="400"></canvas>
            </div>
        </div>
    </div>
    
  </body>
</html>

<script>

function myChart1(hitted, missed) {

 

    var hitted = hitted;


    let labels1 = ['Hitted', 'Missed'];
    let data1 = [hitted, missed];




    // let data1 = [59, 31];               //User Data per User how often he missed
    let colors1 = ['#49A9EA', '#36CAAB'];

    let myDoughnutChart = document.getElementById("myChart").getContext('2d');

    let chart1 = new Chart(myDoughnutChart, {
        type: 'doughnut',
        data: {
            labels: ['Hitted', 'Missed'],
            datasets: [{
                data: [data1[0], data1[1]],
    //            data: [59, 31],      //User Data per User how often he missed
                backgroundColor: ['#49A9EA', '#36CAAB']
            }]
        },
        options: {
            title: {
                text: "How accurate is my aim?",
                display: true
            }
        }
    });

}


function myChart2() {
    const htmlconvert = {
        "'" : "&#x27;"

    };

    alert("A");
    



       var tmpString = "@name";

   var tmpString = tmpString.replace(/&#x27;/g, "'");

   const words = tmpString.split(',');

   let labels2 = words;




        alert("B");


       
        var tmpString2 = "@punkte";
       
        var tmpString3 = tmpString2.replace(/&#x27;/g, " ");

      
       var tmpString4 = tmpString3.split(',');
       
       let data2 = new Array();

       for(var i = 0; i < tmpString4.length; i++)
       {
           data2.push(parseInt(tmpString4[i]));
       }


    //let data2 = [1,2,3];


    let colors2 = ['#49A9EA', '#36CAAB', '#34495E', '#B370CF'];

    let myChart2 = document.getElementById("myChart2").getContext('2d');

    let chart2 = new Chart(myChart2, {
        type: 'bar',
        data: {
            labels: labels2,
            datasets: [{
                data: data2,
                backgroundColor: colors2
            }]
        },
        options: {
            title: {
                text: "Ponits per Target per User",
                display: true
            },
            legend: {
                display: false
            }
        }
    });

}

function myChart3() {
    let labels3 = ['Target 1', 'Target 2', 'Target 3', 'Target 4'];    // All animals
    let myChart3 = document.getElementById("myChart3").getContext('2d');

    let chart3 = new Chart(myChart3, {
        type: 'radar',
        data: {
            labels: labels3,
            datasets: [
                {
                    label: 'Messi',     //Username
                    fill: true,
                    backgroundColor: "rgba(179, 181, 198, 0.2)",
                    borderColor: "rgba(179, 181, 198, 1)",
                    pointBorderColor: "#fff",
                    pointBackgroundColor: "rgba(179, 181, 198, 1)",
                    data: [1,2,3,4]  //User datas per User how much points per animal
                },
                {
                    label: 'Ronaldo',   //Username
                    fill: true,
                    backgroundColor: "rgba(255, 99, 132, 0.2)",
                    borderColor: "rgba(255, 99, 132, 1)",
                    pointBorderColor: "#fff",
                    pointBackgroundColor: "rgba(255, 99, 132, 1)",
                    data: [10,20,40,30]      //User datas per User how much points per animal
                }
            ]
        },
        options: {
            title: {
                text: "Aim",
                display: true
            }
        }
    });

}

function myChart4() {

    let labels4 = ['Germany', 'France', 'UK', 'Italy', 'Spain', 'Others(23)'];
let data4 = [83, 67, 66, 61, 47, 187];
let colors4 = ['#49A9EA', '#36CAAB', '#34495E', '#B370CF', '#AC5353', '#CFD4D8'];

let myChart4 = document.getElementById("myChart4").getContext('2d');

let chart4 = new Chart(myChart4, {
    type: 'pie',
    data: {
        labels: labels4,
        datasets: [ {
            data: data4,
            backgroundColor: colors4
        }]
    },
    options: {
        title: {
            text: "Population of the European Union (in mio)",
            display: true
        }
    }
});
}
</script>