@page
@model myArchery.Pages.LiveRankingModel
@{
	//var users = UserService.GetUsersInEventById(UserService.GetUserCurrentEventId(ViewData["Username"])).ToList();



	//List<User> tmp = new List<User> { new Persistance.Models.User { Username = "Daniel", Isactive = 64},
	//								new Persistance.Models.User { Username = "Bastian", Isactive = 23},
	//								new Persistance.Models.User { Username = "Julian", Isactive = 34},
	//								new Persistance.Models.User { Username = "Fabian", Isactive = 64},
	//								new Persistance.Models.User { Username = "Bastian", Isactive = 23},
	//								new Persistance.Models.User { Username = "Julian", Isactive = 34},
	//								new Persistance.Models.User { Username = "Daniel", Isactive = 64},
	//								new Persistance.Models.User { Username = "Bastian", Isactive = 23},
	//								new Persistance.Models.User { Username = "Julian", Isactive = 34},
	//								new Persistance.Models.User { Username = "Daniel", Isactive = 64},
	//								new Persistance.Models.User { Username = "Bastian", Isactive = 23},
	//								new Persistance.Models.User { Username = "Julian", Isactive = 34}};

	var repheight = 400 / 5 * users.Count() + "px";

	double maxPoints = 50;
    






	
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Leader Board using HTML CSS and Javascript</title>
	<link rel="stylesheet" href="~/assets/js/style.css">
</head>
<body>




	
	




<div class="wrapper">
	<div class="lboard_section" style="height:@repheight">
		<div class="lboard_tabs">
			<div class="tabs">
				<ul>
					<li data-li="today">Today</li>
					<li class="active" data-li="month">Month</li>
					<li data-li="year">Year</li>
				</ul>
			</div>
		</div>
		
				<div class="lboard_wrap" style="height:@repheight">
			<div class="lboard_item today" style="display: none;">
@foreach (var item in tmp) {
				int counter = 1;

						string value =  @Math.Floor(item.Isactive / maxPoints * 100) + "%" ;		//max value berücksichtigen Max Wert/aktuelle Punkte


				<div class="lboard_mem">
	<div class="img">
		<img src="~/assets/img/icons/login_icon.png" alt="standardpic">
	</div>
	<div class="name_bar">
						<p><span> @counter.</span> @item.Username </p>
		<div class="bar_wrap">
			<div class="inner_bar" style="width: @value"></div>
			</div>
		</div>
		<div class="points">
						@item.Isactive
		</div>
	</div>

				<div>

				</div>
				
					counter++;
				
			}
		</div>
</div>
		
	</div>
</div>	

<script src="~/assets/js/liveranking.js"></script>
</body>
</html>