@model IEnumerable<myArchery.Persistance.Models.Event>

@{
    Layout = "_Layout";

    if (User.Identity == null)
    {
        // redirect to Login Page
    }
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<link rel="stylesheet" href="~/assets/css/allEvents.css"/>
<div class="container">
            <!-- <h2>Responsive Tables Using LI <small></small></h2> -->
            <h1>All Events</h1>
            <ul class="responsive-table">
              <li class="table-header">
                <div class="col col-1">Eventname</div>
                <div class="col col-2">Arrowamount</div>
                <div class="col col-3">Startdate</div>
                <div class="col col-4">Enddate</div>
                <div class="col col-5">Parcourname</div>
                <div class="col col-6">Options</div>
              </li>
              @foreach (var item in @Model)
              {
                <li class="table-row">
                <div class="col col-1" data-label="Eventname">@item.Eventname</div>
                <div class="col col-2" data-label="Arrowamount">@item.Arrowamount</div>
                <div class="col col-3" data-label="Startdate">@item.Startdate</div>
                <div class="col col-4" data-label="Enddate">@item.Enddate</div>
                <div class="col col-5" data-label="Parcourname">@item.Par.Parcourname</div>
                <div class="col col-6" data-label="Options"><a asp-action="Join" asp-route-eventid="@item.EveId" asp-route-username="@User.Identity.Name">Join</a> |
                <a asp-action="Details" asp-route-eventid="@item.EveId">Details</a></div>
                </li>  
              }
            </ul>
          </div>
    </section>
                
            
}
    </tbody>
</table>
