@model myArchery.Persistance.Models.Event

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Eventname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Eventname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Arrowamount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Arrowamount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Startdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Startdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Enddate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Enddate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Isprivat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Isprivat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Par)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Par.Parcourname)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EveId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
