@model IEnumerable<myArchery.Persistance.Models.Event>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Eventname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Arrowamount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Startdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enddate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Isprivat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Par)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Eventname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arrowamount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Startdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enddate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isprivat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Par.Parcourname)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EveId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EveId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EveId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
