@using myArchery.Services
@using myArchery.Services.TmpClasses
@model IEnumerable<EventWithDetails>
@{
    ViewData["Title"] = "MyEvents";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>MyEvents</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(x => x.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrowAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPrivate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Par)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrowAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPrivate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Par.Parcourname)
            </td>
            <td>
                <a asp-action="Play" asp-route-id="@item.Id">Play</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
