@using myArchery.Services
@using myArchery.Services.TmpClasses
@model IEnumerable<EventWithDetails>
@{
    ViewData["Title"] = "MyEvents";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>MyEvents</h1>
<link rel="stylesheet" href="~/assets/css/style.css">
<link href="~/assets/css/allEvents.css" rel="stylesheet">
    <link href="~/assets/css/archery-event.css" rel="stylesheet">
<p>
    <a asp-action="Create">Create New</a>
</p>
    <ul class="responsive-table">
        <li class="table-header">
                <div class="col col-1">Eventname</div>
                <div class="col col-2">Arrowamount</div>
                <div class="col col-3">Startdate</div>
                <div class="col col-4">Enddate</div>
                <div class="col col-5">Parcourname</div>
                <div class="col col-6">Options</div>
              </li>

@foreach (var item in Model) {
               <li class="table-row">
                <div class="col col-1" data-label="Eventname">@item.Name</div>
                <div class="col col-2" data-label="Arrowamount">@item.ArrowAmount</div>
                <div class="col col-3" data-label="Startdate">@item.StartDate</div>
                <div class="col col-4" data-label="Enddate">@item.EndDate</div>
                <div class="col col-5" data-label="Parcourname">@item.Par.Parcourname</div>
                <div class="col col-6" data-label="Options"><a asp-action="CurrentEvent" asp-route-id="@item.Id">Play</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a></div>
              </li>
}
    </ul>
