@model myArchery.Persistance.Models.Parcour

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Parcour</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parcourname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parcourname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Town)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Town)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Postalcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Postalcode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StreetHousenumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StreetHousenumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Counttargets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Counttargets)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ParId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
