@model IEnumerable<myArchery.Persistance.Models.Parcour>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Parcourname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Town)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Postalcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StreetHousenumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Counttargets)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Parcourname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Town)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Postalcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetHousenumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Counttargets)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ParId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ParId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ParId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
